defaults
	mode	http # http 프로토콜 사용
	option forwardfor
	timeout connect	10s
	timeout client	1m
	timeout server	1m

# front
frontend http_front # http 프론트엔드
	bind *:80
	bind *:443 ssl crt /usr/local/etc/haproxy/certs/cert.pem
	redirect scheme https if !{ ssl_fc }

	default_backend qraft

  	acl graphql_api path_beg /graphql
	acl exporter_metrics path_beg /metrics
	acl stats path_beg /stats
	use_backend qraft if graphql_api
	use_backend exporter if exporter_metrics
	use_backend stats if stats

frontend stats 
	bind *:8404
	stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST

#backend
backend qraft
	balance roundrobin # 라운드 로빈 방식으로 컨테이너 3개에 로드밸런싱
	server server1 qraft_users1:8000 check inter 5s  fall 5  rise 5
	server server2 qraft_users2:8000 check inter 5s  fall 5  rise 5
	server server3 qraft_users3:8000 check inter 5s  fall 5  rise 5

backend exporter
	server exporter container_exporter:9104 check inter 5s  fall 5  rise 5

backend stats
   server Local 127.0.0.1:8404


